{
  "openapi": "3.0.0",
  "info": {
    "title": "Azure Maps API",
    "description": "Azure Maps geocoding and routing for zombie survival navigation",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://atlas.microsoft.com"
    }
  ],
  "security": [
    {
      "subscription-key": []
    }
  ],
  "paths": {
    "/search/address/json": {
      "get": {
        "operationId": "geocode_address",
        "summary": "Geocode an address to coordinates",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["1.0"],
              "default": "1.0"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The address to search for"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful geocoding response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "position": {
                            "type": "object",
                            "properties": {
                              "lat": {"type": "number"},
                              "lon": {"type": "number"}
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/route/directions/json": {
      "get": {
        "operationId": "calculate_route_directions",
        "summary": "Calculate route between coordinates",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["1.0"],
              "default": "1.0"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Coordinates: 'lat1,lon1:lat2,lon2'"
          },
          {
            "name": "routeType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["fastest", "shortest"],
              "default": "fastest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful route calculation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "routes": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "summary": {
                            "type": "object",
                            "properties": {
                              "lengthInMeters": {"type": "integer"},
                              "travelTimeInSeconds": {"type": "integer"}
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "subscription-key": {
        "type": "apiKey",
        "name": "subscription-key",
        "in": "query"
      }
    }
  }
}
