{
  "openapi": "3.0.0",
  "info": {
    "title": "Azure Maps API",
    "description": "Azure Maps geocoding and routing for zombie survival navigation",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://atlas.microsoft.com"
    }
  ],
  "security": [
    {
      "subscription-key": []
    }
  ],
  "paths": {
    "/search/address/json": {
      "get": {
        "operationId": "geocode_address",
        "summary": "Geocode an address to coordinates",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["1.0"],
              "default": "1.0"
            },
            "description": "Version number of Azure Maps API"
          },
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The address to search for"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            },
            "description": "Maximum number of responses"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful geocoding response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "summary": {
                      "type": "object",
                      "properties": {
                        "query": { "type": "string" },
                        "queryType": { "type": "string" },
                        "numResults": { "type": "integer" }
                      }
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "position": {
                            "type": "object",
                            "properties": {
                              "lat": { "type": "number" },
                              "lon": { "type": "number" }
                            }
                          },
                          "address": {
                            "type": "object",
                            "properties": {
                              "freeformAddress": { "type": "string" }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/route/directions/json": {
      "get": {
        "operationId": "calculate_route_directions",
        "summary": "Calculate route between coordinates",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["1.0"],
              "default": "1.0"
            },
            "description": "Version number of Azure Maps API"
          },
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Route coordinates: 'originLat,originLon:destinationLat,destinationLon'"
          },
          {
            "name": "routeType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["fastest", "shortest", "eco"],
              "default": "fastest"
            },
            "description": "Type of route"
          },
          {
            "name": "travelMode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["car", "truck", "bicycle", "pedestrian"],
              "default": "car"
            },
            "description": "Travel mode"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful route calculation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "formatVersion": { "type": "string" },
                    "routes": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "summary": {
                            "type": "object",
                            "properties": {
                              "lengthInMeters": { "type": "integer" },
                              "travelTimeInSeconds": { "type": "integer" }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "subscription-key": {
        "type": "apiKey",
        "name": "subscription-key",
        "in": "query"
      }
    }
  }
}
